<style>
    h2 span {
        color: white;
        font: bold 24px/45px Helvetica, Sans-Serif;
        letter-spacing: -1px;
        background: rgb(0, 0, 0); 
        background: rgba(0, 0, 0, 0.7);
        padding: 10px;
    }
    h1 span {
        color: white;
        font: bold 24px/55px Helvetica, Sans-Serif;
        letter-spacing: -1px;
        background: rgb(0, 0, 0); 
        background: rgba(0, 0, 0, 0.7);
        padding: 10px;
    }

    .container {
        margin: 30px auto;
        width: 25%;
        height: 100%;
    }
    .image {
	position	: relative;
	width		: 100%; /* for IE 6 */
    }
    h1 {
	position	: absolute;
	top		: 80px;
	left		: 0;
	width		: 100%;
    }
    h2 {
	position	: absolute;
	top		: 150px;
	left		: 0;
	width		: 100%;
    }
</style>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
            mdl-layout--fixed-tabs">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title ">BUSТранзит</span>
            <div class="mdl-layout-spacer"></div>
            <nav class="mdl-navigation">
                <div>
                    @Html.Partial("_LoginPartial")

                </div>
            </nav>
        </div>
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
            <a href="#tab-1" class="mdl-layout__tab mdl-color--white mdl-color-text--blue is-active">Главная</a>
            @Html.ActionLink("Транспорт", "Bus", "Home", null, new { @class = "mdl-layout__tab mdl-color--white mdl-color-text--blue" })
            @Html.ActionLink("Рейсы", "Index", "Timetables", null, new { @class = "mdl-layout__tab mdl-color--white mdl-color-text--blue" })
            @if (User.IsInRole("admin"))
            {@Html.ActionLink("Сотрудники и роли", "Employee", "Home", null, new { @class = "mdl-layout__tab mdl-color--white mdl-color-text--blue" })}
            @Html.ActionLink("О компании", "Company", "Home", null, new { @class = "mdl-layout__tab mdl-color--white mdl-color-text--blue" })
        </div>
    </header>

    <main class="mdl-layout__content">
        <section class="mdl-layout__tab-panel is-active" id="tab-1">

            <div class="page-content">
                <div class="image">
                    <img src="~/Content/images/главная.jpeg" alt="" />
                    <center>
                        <h1><span>BusТранзит</span></h1>
                        <h2><span>лучшая компания по перевозки людей</span></h2>
                    </center>
                </div>
            </div>
        </section>
    </main>
</div>
